@model WKT.Model.IssueContentEntity
@{
    ViewBag.Title = Model.Title + "_" +  Html.SiteName();
}
<div class="news">
    <h1 style="font-size:14px; height:20px;ling-height:20px;">位置：<a href="/">首页</a> &gt;&gt; <a>正文</a></h1>
    <div class="wz">
        <div class="fonts" id="HText">
            <div class="right">
                <div>
                    <h1>@Model.Title</h1>
                    <div style="border-bottom:#b7ccfa dashed 1px;"></div>
                </div>
                <div class="zuozhe">
                    <font>作者：</font><span id="HAuthor" style="color: #333333;font-family: Verdana;font-size: 13px;font-weight: bold;">@Html.GetAuthorsString(Model.Authors)</span>
                </div>
                <div class="zuozhe">
                    <font>单位：</font><span id="HUnit">@Model.WorkUnit</span>
                </div>
                <div class="zuozhe">
                    <font>关键词：</font><span id="HKey">@Model.Keywords</span>
                </div>
                <div class="zuozhe">
                    <font>分类号：</font>
                </div>
                <div class="zuozhe">
                    <font>出版年·卷·期（页码）：</font>@(Model.Year)·@(Model.Volume)·第@(Model.Issue)期（@Model.PageNumber）
                </div>
                <div class="zuozhe">
                    <font style="color: #ff0000;">DOI:</font>@Model.DOI
                </div>
                <div class="xiazai">
                    <a href="/Magazine/HtmlShow/?ID=@Model.ContentID">[HTM下载]</a> <a href="/Magazine/PDFShow/?ID=@Model.ContentID">[PDF下载]</a> <a href="#">[发表评论]</a> <a href="#">[查看评论]</a> <a href="javascript:window.external.AddFavorite(''+document.location.href+'',''+document.title+'');">[加入收藏]</a> <a href="javascript:void(0);">[@(Model.Hits)人次已阅读该文]</a>
                </div>
                <div style="border-bottom:#b7ccfa dashed 1px;"></div>
                <div class="zaiyao" style="font-size: 14px;">
                    <p>摘要:@Model.Abstract</p>
                </div>
                <h3 style="font-size: 14px;">
                    欢迎阅读《中华疾病控制杂志》！您是该文第 <font>@(Model.Hits+1)</font>位读者！</h3>
                <div class="h3" style="font-size: 14px;">
                    若需在您的论文中引用此文，请按以下格式著录参考文献：</div>
                <div class="zuozhe">
                    <font>中文著录格式:</font>
                    @(Model.Authors).@(Model.Title).中华疾病控制杂志. ,@(Model.Year),@(Model.Volume)(@Model.Issue):@Model.PageNumber.
                </div>
                <div class="zuozhe">
                    <font>英文著录格式:</font>
                    ..No Title Settings.@(Model.Year);@(Model.Volume)(@Model.Issue):@Model.PageNumber.
                </div>
                <h4><font style="font-size: 14px;">与该文相关的文章（<span>仅限于本刊内</span>）</font></h4>
                <ul style="font-size: 14px;">
                </ul>
            </div>
        </div>
    </div>
</div>
<!--cont1 end-->
