<div id="box" style="min-width:1200px;width:auto;">
    <div class="act-bar" style="margin-bottom:5px;" id="divToolbar"></div>
    <div id="divContributionGrid"></div>
</div>
<form name="action_command" action="" target="_self" method="post"></form>
@section Scripts{
<script src="@Html.RootPath()/Scripts/jquery.json.min.js" type="text/javascript"></script>
    <script src="../../Content/ligerUI/js/plugins/ProductData.js" type="text/javascript"></script>
<script type="text/javascript">
    var contributiongrid;
    $(function () {
        $("#divToolbar").ligerToolBar({ items: [
            { text: '导出Excel', click: MenuClick, icon: 'excel' }
        ]
        });

        var CNumber = $("#txtCNumber", window.parent.document).val();
        var Title = $("#txtTitle", window.parent.document).val();
        if (Title == "") {
            Title = $('#txtTopSearchTitle', window.parent.document).val();
        }
        var Keyword = $("#txtKeyword", window.parent.document).val();
        var FirstAuthor = $("#txtAuthor", window.parent.document).val();
        var AuthorID = $("#hiddenInAuthor", window.parent.document).val();
        var FirstAuthorWorkUnit = $("#txtFirstAuthorWorkUnit", window.parent.document).val();
        var StartDate = $("#txtStartDate", window.parent.document).val();
        var EndDate = $("#txtEndDate", window.parent.document).val();
        var Flag = $("#selflag", window.parent.document).val();
        var StatusID = $("#selStatus", window.parent.document).val();
        var Year = $("#Year", window.parent.document).val();
        var Issue = $("#Issue", window.parent.document).val();
        var SubjectCategoryID = $("#SubjectCat", window.parent.document).val();

        var IsNotAccessSearch = $("#IsNotAccessSearch", window.parent.document).val();
        if (IsNotAccessSearch == 0) {
            IsNotAccessSearch = '@Html.isPersonal_OnlyMySearch()';
        }

        var SearchParam = { "CNumber": CNumber, "Title": Title, "Keyword": Keyword, "FirstAuthor": FirstAuthor, "AuthorID": AuthorID, "FirstAuthorWorkUnit": FirstAuthorWorkUnit, "StartDate": StartDate, "EndDate": EndDate, "Flag": Flag, 'StatusID': StatusID, "Year": Year, "Issue": Issue, "SubjectCategoryID": SubjectCategoryID };

        // 稿件列表
        contributiongrid = $("#divContributionGrid").ligerGrid({
            columns: [
            { display: '作者ID', name: 'AuthorID', hide: true, type: 'int' },
            { display: '稿件ID', name: 'CID', hide: true },
            { display: '日志ID', name: 'FlowLogID', hide: true },
            { display: '稿件编号', name: 'CNumber', width: '85', align: 'center', render: function (item) {
                if (item.Status == "-1")
                    return "<span style=\"color:#cfa205;\" title=\"已撤稿件\">" + item.CNumber + "</span>";
                if (item.Status == "-999")
                    return "<span style=\"color:#505050;\" title=\"已删除稿件\">" + item.CNumber + "</span>";
                else
                    return item.CNumber;

            }
            },
            { display: '稿件标题', name: 'Title', width: '255', align: 'left', render: function (item) {
                var title = item.Title;

                if (item.IsRetractions) {
                    if (item.Status == "-1")
                        title = "<span style=\"color:#cfa205;font-weight:100;\">" + title + "</span>";
                    else
                        title = "<span style=\"color:red;font-weight:100;\">(作者申请撤稿)" + title + "</span>";
                }
                if (item.Status == "-999") {
                    title = "<span style=\"color:#505050;font-weight:100;\">" + title + "</span>";
                }
                if (!item.IsView) {
                    title = "<span class=\"bluebold\">" + title + "</span>";
                }
                title = item.IsQuick == true ? "<img src='@Html.RootPath()/Content/ligerUI/skins/icons/up.gif' alt='加急稿件' title='加急稿件'/>&nbsp;" + title : title;
                if (item.Flag != "") {
                    title = "<img src='@Html.RootPath()/Content/ligerUI/skins/icons/" + item.Flag + ".gif' alt='旗帜标记' title='旗帜标记'/>&nbsp;" + title;
                }
                if (item.Status == "-1")
                    title = '<a href="javascript:void(0)" style="text-decoration:none;" title="已撤稿件" onclick="ViewDetail(' + item.CID + ',\'' + item.CNumber + '\'' + ')">' + title + '</a>';
                if (item.Status == "-999")
                    title = '<a href="javascript:void(0)" style="text-decoration:none;" title="已删除稿件" onclick="ViewDetail(' + item.CID + ',\'' + item.CNumber + '\'' + ')">' + title + '</a>';
                else
                    title = '<a href="javascript:void(0)" onclick="ViewDetail(' + item.CID + ',\'' + item.CNumber + '\'' + ')">' + title + '</a>';
                return title;
            }
            },
            { display: '第一作者', name: 'FirstAuthor', width: '70', align: 'center' },
            { display: '通讯作者', name: 'CommunicationAuthor', width: '70', align: 'center' },
            { display: '处理时间', name: 'HandTime', width: '80', align: 'center', type: 'date', format: 'yyyy-MM-dd hh:mm:ss' },
            { display: '发送人', name: 'SendUserName', width: '70', align: 'center' },
            { display: '接收人', name: 'RecUserName', width: '70', align: 'center' },
            { display: '稿件状态', name: 'AuditStatus', width: '70', align: 'center' },
            { display: '年', name: 'Year', width: '70', align: 'center', render: function (item) {
                if (item.Year == 0) {
                    return "";
                }
                else {
                    return item.Year;
                }
            }
            },
            { display: '期', name: 'Issue', width: '70', align: 'center', render: function (item) {
                if (item.Issue == 0) {
                    return "";
                }
                else {
                    return item.Issue;
                }
            }
            },
            { display: '天数', name: 'Days', width: '60', align: 'center' },
            { display: '投稿时间', name: 'AddDate', width: '80', align: 'center', type: 'date', format: 'yyyy-MM-dd hh:mm:ss' },
            { display: '其他标记', name: 'IsRetractions', width: '70', align: 'center', render: function (item) {
                var title = "";
                if (item.IsRetractions) {
                    if (item.Status == "-1")
                        title = "<a href=\"javascript:void(0);\" style=\"color:#cfa205;text-decoration:none;\" onclick=\"ViewRetractions(" + item.CID + ")\"><b>已处理撤稿</b></a>";
                    else
                        title = "<a href=\"javascript:void(0);\" onclick=\"ViewRetractions(" + item.CID + ")\"><b>处理撤稿?</b></a>";
                }
                if (item.Status == "-3") {
                    title = "<a href=\"javascript:void(0);\" onclick=\"UpContribute(" + item.AuthorID + ")\"><b>上传修改稿</b></a>";
                }
                if (item.Status == "-999") {
                    title = "<a href=\"javascript:void(0);\" onclick=\"CancelDelete('" + item.CID + "','" + item.Title + "')\"><b>撤销删除</b></a>";
                }

                return title;
            }
            }
            ], width: '99.5%', height: 'auto', rownumbers: false, usePager: true, checkbox: true,
            url: '@Html.RootPath()/Contribution/SearchContributionListAjax?isPersonal_OnlyMySearch=' + IsNotAccessSearch + '&rnd=' + Math.random(), pageSize: 30, parms: SearchParam

        });
    });

    // 导出
    function MenuClick(item) {
        var commandtype = item.text;
        switch (commandtype) {
            case "导出Excel":
                ImportExcel();
                break;
        }
    }

    // 导出EXCEL
    function ImportExcel() {
        if ($(".l-grid-row").length < 1) {
            alert('没有数据不能导出，请先进行查询！')
            return;
        }
        if (confirm('确认要导出当前稿件列表吗？')) {
            html = "";
            html += '<input type="hidden" name="CNumber" value="' + $("#txtCNumber", window.parent.document).val() + '"/>';
            html += '<input type="hidden" name="Title" value="' + $("#txtTitle", window.parent.document).val() + '"/>';
            html += '<input type="hidden" name="Keyword" value="' + $("#txtKeyword", window.parent.document).val() + '"/>';
            html += '<input type="hidden" name="FirstAuthor" value="' + $("#txtAuthor", window.parent.document).val() + '"/>';
            html += '<input type="hidden" name="AuthorID" value="' + $("#hiddenInAuthor", window.parent.document).val() + '"/>';
            html += '<input type="hidden" name="StartDate" value="' + $("#txtStartDate", window.parent.document).val() + '"/>';
            html += '<input type="hidden" name="EndDate" value="' + $("#txtEndDate", window.parent.document).val() + '"/>';
            html += '<input type="hidden" name="Flag" value="' + $("#selflag", window.parent.document).val() + '"/>';
            $('form[name="action_command"]').html(html).attr("action", '@Html.RootPath()/Contribution/SearchImportExcel/').attr("method", "post").submit();
        }
    }

    function ViewDetail(CID,CNumber) {
        window.parent.f_addTab('View' + CNumber, '稿件详细信息[' + CNumber + ']', '@Html.RootPath()/ContributionInfo/SearchViewDetail?CID=' + CID + "&rnd=" + Math.random());
    }

    // 查看撤稿申请
    function ViewRetractions(CID) {
        $.ligerDialog.open({ height: 400, url: '@Html.RootPath()/Contribution/ViewRetraction?CID=' + CID + '&rnd=' + Math.random(), title: '撤稿申请处理', width: 600, slide: false, buttons: [
        { text: '同意', onclick: function (item, dialog) {
            $.ajax({
                beforeSend: function () {

                },
                type: 'POST',
                url: '@Html.RootPath()/Contribution/DealWithdrawal/?rnd=' + Math.random(),
                data: { CID: CID },
                success: function (data) {
                    var e = eval("(" + data + ")");
                    if (e.result == 'success') {
                        contributiongrid.loadData();
                        dialog.close();
                    }
                    else if (e.result == 'failure') {
                        alert(e.msg);
                    }
                    else if (e.result == 'error') {
                        alert(e.msg);
                    }
                },
                error: function (xhr) {
                    alert('数据源访问错误' + '\n' + xhr.responseText);
                }
            });
        }
        },
        { text: '取消', onclick: function (item, dialog) { dialog.close(); } }
        ]
        });
}
//撤销删除
function CancelDelete(CID, Title) {
    if (!confirm("将要撤销稿件【" + Title + "】的删除状态！\r\n撤销删除后您可以在稿件处理专区中继续处理该稿件。\r\n继续撤销删除吗？")) return;
    $.ajax({
        beforeSend: function () {

        },
        type: 'POST',
        url: '@Html.RootPath()/Contribution/CancelDelete/?rnd=' + Math.random(),
        data: { CID: CID },
        success: function (data) {
            var e = eval("(" + data + ")");
            if (e.result == 'success') {
                contributiongrid.loadData();
            }
            else if (e.result == 'failure') {
                alert(e.msg);
            }
            else if (e.result == 'error') {
                alert(e.msg);
            }
        },
        error: function (xhr) {
            alert('数据源访问错误' + '\n' + xhr.responseText);
        }
    });

}

//编辑为作者上传修改稿
function UpContribute(AuthorID) {
    window.parent.f_addTab('UpContribute', '代作者上传修改稿', '@Html.RootPath()/ContributionInfo/EditorRetreatIndex?AuthorID=' + AuthorID + "&rdm=" + Math.random());
}
</script>
}